[user]
	name = wooni-dev
	email = wooni.dev@gmail.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[alias]
	sweep = !git fetch --prune && git branch -vv | grep \": gone]\" | awk \"{print \\$1}\" | xargs -r git branch -d && git branch
	drop-branch = "!f() { git branch -r | grep -q \"origin/$1\" || { echo \"Remote branch origin/$1 not found\"; exit 1; } && git branch -d $1 && git push origin --delete $1 && echo \"Done! Current branches:\" && git branch; }; f"
	new-branch = "!f() { git switch -c $1 && git push -u origin $1; }; f"
